#calculadora
{
    background-color: darkgrey;
    height: 170px;
    width: 115px;
    position: fixed;
    padding: 2px;
   top:40%;
   left:50%;
   transform: scale(4);
   animation: fundo 5s infinite;
}

#screen
{
    width: 110px;
    border-radius: 10px;
}

@keyframes fundo
{
    0%{background-color: darkgrey;}
    20%{background-color: blue;}
    40%{background-color: darkgreen;}
    60%{background-color: darkred;}
    80%{background-color: yellow;}
    100%{background-color: darkgrey;}
}

input[type=button]
{
    height: 25px;
    width: 25px;
    border-radius: 5px;
    margin-top: 3px;
    animation: botoes 3s infinite;
}

@keyframes botoes

{
    0%{border-radius: 5px;}
    33%{border-radius: 10px;}
    66%{transform:rotate(-3deg);}
    80%{transform:rotate(3deg);}
    100%{transform: rotate(0deg);}
}



input[type=text]
{
    height: 25px;
    width: 110px;
    position: center;
    font-size: 30px;
    border-radius: 6px;
}